.background {
    background-color: #393E46;
    color: #EEEEEE;
}

.headerDiv {
    background-color: #393E46;
    color: #00ADB5;
    display: flex;
    flex:0.1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    font-size: 40px;
}

.contentsDiv {
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
}
