.background {
  background-color: #393e46;
  color: #eeeeee;
}

.headerDiv {
  background-color: #393e46;
  color: #eeeeee;
  display: flex;
  flex: 0.1;
  justify-content: center;
  padding: 20px;
  font-size: 40px;
  z-index: 10;
  font-family:'Roboto Slab';
}

.contentsDiv {
  background-color: #222831;
  color: #eeeeee;
  display: flex;
}

.text {
  z-index: 1;
  position: relative;
}

.text-enter {
  opacity: 0;
}
.text-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.text-exit {
  opacity: 1;
}
.text-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
